# INTRO TO VARIABLE EXERCISE

---------------------

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [1]:
    a =10
    b = 5.1
    
    add = a + b
    print("a + b =", add)
    type(add)

a + b = 15.1

float

### 2. Is 5 == (3+2)?

In [2]:
5 == (3+2)

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [3]:
a = 3
add = a + 33
print(add)

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [6]:
a = 3
float(a)

3.0

### 5. What will be 5 times *a* if the value of a is 10?

In [7]:
a = 10
multiply = a * 5
print(multiply)

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [14]:
 
trianglearea = 1/2 * b * h
b= 10
h = 5

print(trianglearea)

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If 

v = 10

w = 25

x = 70

y = 2

In [20]:
help("if")

def main(): 
    v,w,x,y = 10,25,70,2

SyntaxError: invalid syntax (<ipython-input-20-03c0bd3c2c56>, line 3)

### 8. Swap values of *a* and *b* 
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

### 9. Convert 35 degree Celsius temperature to Fahrenheit

-------------